<mat-card class="example-card" [ngClass]="{'en-rupture' : product.stock === 1 }">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>{{product.price}} €</mat-card-subtitle>
      <img mat-card-md-image src="{{product.photo}}" alt="">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{product.description}}
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button color="primary" (click)="onClick(product)">Acheter</button>
  </mat-card-actions>
</mat-card>